<div class= "container">
  <nav class="navbar navbar-default">
    <ul class ="nav navbar-nav">
     <li>
       <a routerLintActive="active" routerLink="createuser"> Create User </a>
     </li>
     <li>
       <a routerLinkActive="active" routerLink="billing" >Billing </a>
     </li>
     <li>
      <a routerLinkActive="active" routerLink="billingreport" >Billing Report </a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="itemreport" >Item Report </a>
    </li>
     
    </ul> 
   </nav>
   <router-outlet></router-outlet>
 </div>